In [2]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('./products_table.csv')

# Remove rows where 'cuisine' is present in the 'dish_names' column
df = df[~df['dish_names'].str.contains('cuisine', case=False)]

# Save the updated DataFrame to a new CSV file
df.to_csv('filtered_products.csv', index=False)

In [4]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('./filtered_products.csv')

# Remove the first 3 characters from the 'dish_names' column
df['dish_names'] = df['dish_names'].str[3:]

# Save the updated DataFrame to a new CSV file
df.to_csv('filtered_products.csv', index=False)

In [2]:
import pandas as pd

In [82]:
df = pd.read_csv('./restaurants_1.csv')


cuisines_df = pd.DataFrame(df['cuisines'].str.split(',').explode().str.strip().dropna().unique(), columns=['cuisine_name'])
cuisines_df.reset_index(drop=True, inplace=True)
cuisines_df['cuisine_id'] = cuisines_df.index + 1

In [83]:
cuisines_df.head()

  cuisine_name  cuisine_id
0       Indian           1
1    Taiwanese           2
2        Soups           3
3        Asian           4
4         Cafe           5

In [89]:
restaurants_df = df[['title', 'reviews', 'star_rating', 'price_range', 'page_number', 'data_offset', 'restaurant_serial_number']]
restaurants_df.reset_index(drop=True, inplace=True)
restaurants_df['restaurant_id'] = restaurants_df.index + 1

# Create the RestaurantCuisines table
restaurant_cuisines_df = pd.DataFrame(columns=['restaurant_id', 'cuisine_id'])

for _, row in df.iterrows():
    restaurant_id = restaurants_df.loc[restaurants_df['title'] == row['title'], 'restaurant_id'].values[0]
    if not pd.isna(row['cuisines']):
        cuisine_ids = cuisines_df.loc[cuisines_df['cuisine_name'].isin(row['cuisines'].split(', ')), 'cuisine_id'].tolist()
        for cuisine_id in cuisine_ids:
            restaurant_cuisines_df = pd.concat([restaurant_cuisines_df, pd.DataFrame({'restaurant_id': [restaurant_id], 'cuisine_id': [cuisine_id]})], ignore_index=True)

/var/folders/vy/ym03ctd918q_6snnr0cc3zr40000gn/T/ipykernel_4095/1034184404.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurants_df['restaurant_id'] = restaurants_df.index + 1

In [99]:
len(restaurant_cuisines_df)

524

In [95]:
restaurants_df = pd.read_csv('restaurants.csv')

In [98]:
restaurant_cuisines_df = restaurant_cuisines_df[restaurant_cuisines_df['restaurant_id'].isin(restaurants_df['restaurant_id'])]

# Save the updated restaurant_cuisines_df to CSV
restaurant_cuisines_df.to_csv('restaurant_cuisines.csv', index=False)

In [94]:
restaurants_df.head()

,title,reviews,star_rating,price_range,page_number,data_offset,restaurant_serial_number,restaurant_id
0,1. Chilliesine Indian Restaurant - Hsinchu,157 reviews,5.0 of 5 bubbles,NaN,0,0,1,1
1,2. Din Tai Fung,249 reviews,4.5 of 5 bubbles,NaN,0,0,2,2
2,3. Wang Steak (Hsinchu Beida Branch),207 reviews,4.5 of 5 bubbles,$$$$,0,0,3,3
3,4. The Promenade,503 reviews,4.0 of 5 bubbles,NaN,0,0,4,4
4,5. Le Cafe,471 reviews,4.0 of 5 bubbles,NaN,0,0,5,5

In [27]:
new_df = restaurants_df


new_df['title'] = new_df['title'].str[3:]

# Step 2: Remove the word 'reviews' from the 'reviews' column
new_df['reviews'] = new_df['reviews'].str.replace(' reviews', '')

# Step 3: Keep only the numerical part in the 'star_rating' column
new_df['star_rating'] = new_df['star_rating'].str.extract('([\d.]+)', expand=False)

# Print the resulting DataFrame
print(new_df)

                                       title reviews star_rating price_range  \
0    Chilliesine Indian Restaurant - Hsinchu     157         5.0         NaN
1                               Din Tai Fung     249         4.5         NaN
2          Wang Steak (Hsinchu Beida Branch)     207         4.5        $$$$
3                              The Promenade     503         4.0         NaN
4                                    Le Cafe     471         4.0         NaN
..                                       ...     ...         ...         ...
535                       6. Meat K Original     NaN         NaN         NaN
536                              7. Si Chang     NaN         NaN         NaN
537                     8. Shan Mu Tea House     NaN         NaN         NaN
538       9. Choya - Lakeshore Hotel Hsinchu     NaN         NaN         NaN
539                            0. The Secret     NaN         NaN         NaN

     page_number  data_offset  restaurant_serial_number  restaurant_id
0              0            0                         1              1
1              0            0                         2              2
2              0            0                         3              3
3              0            0                         4              4
4              0            0                         5              5
..           ...          ...                       ...            ...
535           38         1140                      1166            536
536           38         1140                      1167            537
537           38         1140                      1168            538
538           38         1140                      1169            539
539           38         1140                      1170            540

[540 rows x 8 columns]

/var/folders/vy/ym03ctd918q_6snnr0cc3zr40000gn/T/ipykernel_4095/3106208853.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['title'] = new_df['title'].str[3:]
/var/folders/vy/ym03ctd918q_6snnr0cc3zr40000gn/T/ipykernel_4095/3106208853.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['reviews'] = new_df['reviews'].str.replace(' reviews', '')
/var/folders/vy/ym03ctd918q_6snnr0cc3zr40000gn/T/ipykernel_4095/3106208853.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['star_rating'] = new_df['star_rating'].str.extract('([\d.]+)', expand=False)

In [29]:
restaurants_df.head()

,title,reviews,star_rating,price_range,page_number,data_offset,restaurant_serial_number,restaurant_id
0,Chilliesine Indian Restaurant - Hsinchu,157,5.0,NaN,0,0,1,1
1,Din Tai Fung,249,4.5,NaN,0,0,2,2
2,Wang Steak (Hsinchu Beida Branch),207,4.5,$$$$,0,0,3,3
3,The Promenade,503,4.0,NaN,0,0,4,4
4,Le Cafe,471,4.0,NaN,0,0,5,5

In [30]:
len(restaurants_df)

540

In [33]:
len(cuisines_df)

40

In [34]:
cuisines_df.to_csv('cuisines.csv')

In [35]:
products_df = pd.read_csv('./final_products.csv')

In [36]:
products_df.head()

   cuisine_id         dish_names  generated_price  generated_price.1
0           1  1. Butter chicken            250.0              250.0
1           1         2. Biryani            200.0              200.0
2           1    3. Tikka masala            300.0              300.0
3           1     4. Saag paneer            250.0              250.0
4           1    5. Chana masala            150.0              150.0

In [38]:
products_df.drop(columns = ['generated_price.1'])

     cuisine_id                 dish_names  generated_price
0             1          1. Butter chicken            250.0
1             1                 2. Biryani            200.0
2             1            3. Tikka masala            300.0
3             1             4. Saag paneer            250.0
4             1            5. Chana masala            150.0
..          ...                        ...              ...
195          40           1. Sushi burrito            150.0
196          40            2. Ramen burger            100.0
197          40               3. Poke bowl            300.0
198          40  4. Teriyaki chicken tacos            150.0
199          40  5. Wasabi mashed potatoes            150.0

[200 rows x 3 columns]

In [41]:
products_df['dish_names'] = products_df['dish_names'].apply(lambda x: x[3:] if isinstance(x, str) else x)

In [44]:
products_df.head()

   cuisine_id      dish_names  generated_price
0           1  Butter chicken            250.0
1           1         Biryani            200.0
2           1    Tikka masala            300.0
3           1     Saag paneer            250.0
4           1    Chana masala            150.0

In [43]:
products_df = products_df.drop(columns = ['generated_price.1'])

In [45]:
len(products_df)

200

In [54]:
products_df.to_csv('dishes.csv')

In [48]:
products_df = pd.read_csv('./products.csv')

In [49]:
products_df['dish_id'] = list(range(1, len(products_df) + 1))

# Display the updated DataFrame
print(products_df)

     Unnamed: 0  cuisine_id              dish_names  generated_price  dish_id
0             0           1          Butter chicken            250.0        1
1             1           1                 Biryani            200.0        2
2             2           1            Tikka masala            300.0        3
3             3           1             Saag paneer            250.0        4
4             4           1            Chana masala            150.0        5
..          ...         ...                     ...              ...      ...
195         195          40           Sushi burrito            150.0      196
196         196          40            Ramen burger            100.0      197
197         197          40               Poke bowl            300.0      198
198         198          40  Teriyaki chicken tacos            150.0      199
199         199          40  Wasabi mashed potatoes            150.0      200

[200 rows x 5 columns]

In [51]:
products_df = products_df.drop(columns = ['Unnamed: 0'])

In [53]:
products_df.rename(columns={'dish_names': 'dish_name', 'generated_price': 'price'}, inplace=True)

# Display the updated DataFrame
print(products_df)

     cuisine_id               dish_name  price  dish_id
0             1          Butter chicken  250.0        1
1             1                 Biryani  200.0        2
2             1            Tikka masala  300.0        3
3             1             Saag paneer  250.0        4
4             1            Chana masala  150.0        5
..          ...                     ...    ...      ...
195          40           Sushi burrito  150.0      196
196          40            Ramen burger  100.0      197
197          40               Poke bowl  300.0      198
198          40  Teriyaki chicken tacos  150.0      199
199          40  Wasabi mashed potatoes  150.0      200

[200 rows x 4 columns]

In [55]:
restaurants_df.head()

,title,reviews,star_rating,price_range,page_number,data_offset,restaurant_serial_number,restaurant_id
0,Chilliesine Indian Restaurant - Hsinchu,157,5.0,NaN,0,0,1,1
1,Din Tai Fung,249,4.5,NaN,0,0,2,2
2,Wang Steak (Hsinchu Beida Branch),207,4.5,$$$$,0,0,3,3
3,The Promenade,503,4.0,NaN,0,0,4,4
4,Le Cafe,471,4.0,NaN,0,0,5,5

In [56]:
restaurants_df.rename(columns={'title': 'restaurant_name', 'star_rating' : 'rating' , 'generated_price': 'price'}, inplace=True)

/var/folders/vy/ym03ctd918q_6snnr0cc3zr40000gn/T/ipykernel_4095/3554457483.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurants_df.rename(columns={'title': 'restaurant_name', 'star_rating' : 'rating' , 'generated_price': 'price'}, inplace=True)

In [60]:
restaurants_df.head()

,restaurant_name,reviews,rating,price_range,restaurant_id
0,Chilliesine Indian Restaurant - Hsinchu,157,5.0,NaN,1
1,Din Tai Fung,249,4.5,NaN,2
2,Wang Steak (Hsinchu Beida Branch),207,4.5,$$$$,3
3,The Promenade,503,4.0,NaN,4
4,Le Cafe,471,4.0,NaN,5

In [59]:
restaurants_df.drop(columns = ['page_number' , 'data_offset' , 'restaurant_serial_number'] , inplace = True)

/var/folders/vy/ym03ctd918q_6snnr0cc3zr40000gn/T/ipykernel_4095/2742072775.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurants_df.drop(columns = ['page_number' , 'data_offset' , 'restaurant_serial_number'] , inplace = True)

In [75]:
restaurants_df.to_csv('restaurants.csv')

In [62]:
restaurants_df['restaurant_name'] = restaurants_df['restaurant_name'].str.replace(r'^\d+\.\s*', '', regex=True)

/var/folders/vy/ym03ctd918q_6snnr0cc3zr40000gn/T/ipykernel_4095/3065566079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurants_df['restaurant_name'] = restaurants_df['restaurant_name'].str.replace(r'^\d+\.\s*', '', regex=True)

In [77]:
restaurants_df = pd.read_csv('restaurants.csv')

In [64]:
restaurants_df['reviews'] = restaurants_df['reviews'].str.replace('review', '')

/var/folders/vy/ym03ctd918q_6snnr0cc3zr40000gn/T/ipykernel_4095/1910306758.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurants_df['reviews'] = restaurants_df['reviews'].str.replace('review', '')

In [68]:
restaurants_df = pd.read_csv('restaurants.csv')

In [69]:
restaurants_df.loc[39:458, 'restaurant_name'] = restaurants_df.loc[39:458, 'restaurant_name'].str[2:]

# Display the updated DataFrame
print(restaurants_df)

     Unnamed: 0                          restaurant_name  reviews  rating  \
0             0  Chilliesine Indian Restaurant - Hsinchu    157.0     5.0
1             1                             Din Tai Fung    249.0     4.5
2             2        Wang Steak (Hsinchu Beida Branch)    207.0     4.5
3             3                            The Promenade    503.0     4.0
4             4                                  Le Cafe    471.0     4.0
..          ...                                      ...      ...     ...
535         535                          Meat K Original      NaN     NaN
536         536                                 Si Chang      NaN     NaN
537         537                        Shan Mu Tea House      NaN     NaN
538         538          Choya - Lakeshore Hotel Hsinchu      NaN     NaN
539         539                               The Secret      NaN     NaN

    price_range  restaurant_id
0           NaN              1
1           NaN              2
2          $$$$              3
3           NaN              4
4           NaN              5
..          ...            ...
535         NaN            536
536         NaN            537
537         NaN            538
538         NaN            539
539         NaN            540

[540 rows x 6 columns]

In [70]:
restaurants_df.to_csv('updated_restaurants.csv')

In [71]:
restaurants_df['restaurant_name'] = restaurants_df['restaurant_name'].str.strip()

In [72]:
restaurants_df = restaurants_df.drop_duplicates(subset='restaurant_name')

In [74]:
restaurants_df.drop(columns = ['Unnamed: 0'])

,restaurant_name,reviews,rating,price_range,restaurant_id
0,Chilliesine Indian Restaurant - Hsinchu,157.0,5.0,NaN,1
1,Din Tai Fung,249.0,4.5,NaN,2
2,Wang Steak (Hsinchu Beida Branch),207.0,4.5,$$$$,3
3,The Promenade,503.0,4.0,NaN,4
4,Le Cafe,471.0,4.0,NaN,5
...,...,...,...,...,...
535,Meat K Original,NaN,NaN,NaN,536
536,Si Chang,NaN,NaN,NaN,537
537,Shan Mu Tea House,NaN,NaN,NaN,538
538,Choya - Lakeshore Hotel Hsinchu,NaN,NaN,NaN,539
539,The Secret,NaN,NaN,NaN,540

In [79]:
restaurants_df

,Unnamed: 0.1,Unnamed: 0,restaurant_name,reviews,rating,price_range,restaurant_id
0,0,0,Chilliesine Indian Restaurant - Hsinchu,157.0,5.0,NaN,1
1,1,1,Din Tai Fung,249.0,4.5,NaN,2
2,2,2,Wang Steak (Hsinchu Beida Branch),207.0,4.5,$$$$,3
3,3,3,The Promenade,503.0,4.0,NaN,4
4,4,4,Le Cafe,471.0,4.0,NaN,5
...,...,...,...,...,...,...,...
531,535,535,Meat K Original,NaN,NaN,NaN,536
532,536,536,Si Chang,NaN,NaN,NaN,537
533,537,537,Shan Mu Tea House,NaN,NaN,NaN,538
534,538,538,Choya - Lakeshore Hotel Hsinchu,NaN,NaN,NaN,539
535,539,539,The Secret,NaN,NaN,NaN,540

In [81]:
for _, row in restaurants_df.iterrows():
    restaurant_id = row['restaurant_id']
    cuisines = row['cuisines'].split(', ') if row['cuisines'] else []

    # Get cuisine_ids from cuisines_df
    cuisine_ids = cuisines_df[cuisines_df['cuisine_name'].isin(cuisines)]['cuisine_id'].tolist()

    # Create rows for restaurant_cuisines_df
    rows = [{'restaurant_id': restaurant_id, 'cuisine_id': cuisine_id} for cuisine_id in cuisine_ids]

    # Append rows to restaurant_cuisines_df
    restaurant_cuisines_df = restaurant_cuisines_df.append(rows, ignore_index=True)

# Save restaurant_cuisines_df to CSV
restaurant_cuisines_df.to_csv('restaurant_cuisines.csv', index=False)

KeyError: 'cuisines'

In [ ]:
import pandas as pd
import random

# Read the existing CSV files
restaurants_df = pd.read_csv('restaurants.csv')
cuisines_df = pd.read_csv('cuisines.csv')
restaurant_cuisines_df = pd.read_csv('restaurant_cuisines.csv')
dishes_df = pd.read_csv('dishes.csv')

# Create an empty DataFrame to store the restaurantdish data
restaurantdish_df = pd.DataFrame(columns=['restaurant_id', 'dish_id'])

# Loop through each restaurant
for _, restaurant_row in restaurants_df.iterrows():
    # Find the cuisines associated with the restaurant
    cuisines_list = restaurant_cuisines_df.loc[restaurant_cuisines_df['restaurant_id'] == restaurant_row['restaurant_id'], 'cuisine_id'].tolist()
    
    # Filter dishes based on cuisines
    available_dishes = dishes_df[dishes_df['cuisine_id'].isin(cuisines_list)]
    
    # Check if available_dishes has at least 3 dishes
    if len(available_dishes) >= 3:
        # Ensure there are no duplicates
        selected_dishes = available_dishes.drop_duplicates(subset=['dish_id']).sample(n=3, replace=False)
        
        # Create rows for restaurantdish_df
        restaurantdish_rows = pd.DataFrame({'restaurant_id': restaurant_row['restaurant_id'], 'dish_id': selected_dishes['dish_id'].tolist()})
        
        # Concatenate the rows to restaurantdish_df
        restaurantdish_df = pd.concat([restaurantdish_df, restaurantdish_rows], ignore_index=True)

# Save the resulting restaurantdish_df to CSV
restaurantdish_df.to_csv('restaurantdish.csv', index=False)